*.iml
.gradle
/local.properties
/.idea/caches
/.idea/dictionaries
/.idea/libraries
/.idea/assetWizardSettings.xml
/.idea/gradle.xml
/.idea/modules.xml
/.idea/tasks.xml
/.idea/workspace.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/encodings.xml
/.idea/crowdin_settings.xml
.DS_Store
/build
/captures
.externalNativeBuild
/app/full
/app/play_beta
/app/play_release
/tools/config.sh
crowdin.properties
keystore.properties
/app/src/debug/res/xml/providers.xml
/app/.cxx/
