*.iml
tools/config.sh
local.properties
keystore.properties
crowdin.properties
.gradle
.idea/caches
.idea/dictionaries
.idea/libraries
.idea/crowdin_settings.xml
.idea/encodings.xml
.idea/assetWizardSettings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/tasks.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/deploymentTargetDropDown.xml
.idea/deploymentTargetSelector.xml
.idea/other.xml
.idea/runConfigurations.xml
.kotlin
app/.cxx/
build
captures
