body {
	font-family: Arial, sans-serif;
}

.table-wrapper {
	overflow-x: auto;
	white-space: nowrap;
}

table {
	border-collapse: collapse;
}

table colgroup col {
	width: auto !important;
}

table, th, td {
	border: 1px solid black;
}

td {
	padding: 3px;
}
